<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <%= simple_form_for cocktail do |f| %>
          <%= f.input :name %>
          <%= f.input :image %>
          <%= f.submit "submit cocktail", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
