<h1><%=@cocktail.name %></h1>

<%#= link_to 'Edit', cocktails_path, class: "btn btn-primary" %>

<%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>

<%= link_to 'Delete', cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>

<%= link_to 'New Dose', new_cocktail_dose_path(@cocktail), class: "btn btn-success" %>

